<section class="section-wrapper abt" id="about">
  <div class="container section-about-me">
    <h2 class="about-me-section">
      About <span class="about-me-section-span">me</span>
    </h2>
    <div class="about-me-container">
      <img
        src="/images/about/me-pc.png"
        alt="My photo"
        width="384"
        height="448"
        class="about_me_img"
      />

      <div class="bio">
        <h3 class="bio-title">BIO</h3>

        <p class="bio-text">
          My name is Ivan, I am 18 years old, I have been interested in
          computers since I was 12, I can write websites of varying levels of
          complexity, I work alone as a freelancer. I live in Ukraine.
        </p>

        <p class="bio-text">
          Hobbies: I love programming, computers, motorcycles, art, theater and
          many other things
        </p>
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-content-item">
        <h4 class="educ-title">EDUCATION</h4>
        <ul class="educ-list">
          <li class="educ-list-item">
            <p class="educ-list-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="educ-list-item">
            <p class="educ-list-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
      <div class="about-me-content-list">
        <h4 class="role-title">ROLE</h4>
        <ul class="role-list">
          <li class="role-list-item">
            <p class="role-list-text">Frontend development</p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">HeadlessCMS, Wordpress</p>
          </li>
          <li class="role-list-item">
            <p class="role-list-text">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
