<header class="header hdr">
  <div class="container header-container">
    <div class="menu-container">
      <a href="index.html" class="header-logo"
        >Inter<span class="header-logo-span">Studio.</span></a
      >
      <load src="components/switch.html" />
      <div class="burger js-menu js-menu-close" data-menu-button>
        <span class="burger-icon"></span>
      </div>

      <div class="nav-container">
        <nav class="navigation">
          <load src="/components/nav.html" />
        </nav>
      </div>
    </div>
  </div>
</header>
